<mat-toolbar class="navbar-header text-base sticky top-0 z-10 px-6 py-2">
  <span
    class="text-primary cursor-pointer hover:opacity-80 transition-opacity font-semibold text-lg tracking-wide"
    routerLink="/"
  >
    Daniela Guzmán
  </span>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="toggleTheme()" class="hover:bg-white/10 transition-all rounded-none">
    @if (currentTheme === 'light') {
      <mat-icon>dark_mode</mat-icon>
    } @else {
      <mat-icon>light_mode</mat-icon>
    }
  </button>
</mat-toolbar>
