<mat-toolbar class="background-default text-base shadow-md sticky top-0 z-10">
  <!-- <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>Daniela Guzmán</span>
  <span class="example-spacer"></span>
  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button (click)="toggleTheme()">
    @if (currentTheme === 'light') {
      <mat-icon>light_mode</mat-icon>
    } @else {
      <mat-icon>dark_mode</mat-icon>
    }
  </button>
</mat-toolbar>
