<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Sobre mi...</mat-card-title>
  </mat-card-header>
  <div class="grid grid-cols-2 gap-4">
    <div class="p-4">
        ¡Hola! Soy un desarrollador con un enfoque en la creación de experiencias digitales impactantes. Me encanta combinar código y diseño para construir aplicaciones que sean tanto funcionales como atractivas. Trabajo principalmente con Angular, FastAPI y Firebase, pero siempre estoy explorando nuevas tecnologías. Si tienes una idea increíble en mente, ¡hablemos y hagámosla realidad!"
        <button mat-flat-button>Mis proyectos</button>
    </div>
    <div class="p-4">02</div>
  </div>
  <mat-card-actions>
    
  </mat-card-actions>
</mat-card>
