<mat-card appearance="outlined">
    <!-- <mat-card-header>
      <mat-card-title>Sobre mi...</mat-card-title>
    </mat-card-header> -->
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <div class="p-4">
        <img [src]="'assets/images/logo-'+currentTheme+'.png'" alt="" style="max-height: 300px;">
      </div>
      <div class="p-4">
        <h1>
            Hola, soy <span class="text-primary">Desarrolladora</span> <br> Full Stack
        </h1>
        <p>
            Apasionada de crear aplicaciones web y backend eficientes, con un enfoqueen la calidad y la colaboración
        </p>
        <div class="py-4">
           <!--  <button mat-flat-button class="btn-primary">Ver mis proyectos</button>
            <button mat-flat-button class="btn-secondary">Ver mis proyectos</button> -->
            <button mat-stroked-button class="btn-tertiary">Ver mis proyectos</button>
        </div>
      </div>
    </div>
  </mat-card>
  