@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* 🎨 Colores base */
    --primary: #50a7c2; /* Azul más oscuro del gradiente */
    --secondary: #7ecdcf; /* Color intermedio entre ambos */
    --tertiary: #b7f8db; /* Verde más claro del gradiente */
    --accent: #3d869b; /* Azul ligeramente más oscuro para contraste */
    --neutral: #e0f2f1; /* Un tono claro para fondos neutros */
    --neutral-bg: #2d2d2d; /* Fondo gris tenue */
    --gradient-bg: #50a7c2;
    --text-color: white;
    --text-primary: #df9490;
    --text-background-card: #0f131e;

    --uno: rgb(238, 174, 202);
    --dos: rgba(238, 174, 202, 1);

    /* 🌙 Tonos Dark */
    --primary-dark: #2f6b86; /* Azul oscuro */
    --secondary-dark: #5ea2a6; /* Verde azulado oscuro */
    --tertiary-dark: #8fcbb8; /* Verde agua oscuro */
    --accent-dark: #2a5c6d; /* Azul profundo */
    --neutral-dark: #c4dad7; /* Gris neutro más oscuro */
    --neutral-bg-dark: #2d2d2d; /* Fondo gris oscuro */

    /* ☀️ Tonos Light */
    --primary-light: #86c8db; /* Azul más claro */
    --secondary-light: #b1e4e6; /* Verde azulado más claro */
    --tertiary-light: #d6fff0; /* Verde agua más claro */
    --accent-light: #5fa6bb; /* Azul un poco más brillante */
    --neutral-light: #f8fdfc; /* Casi blanco para fondos */
    --neutral-bg-light: #ffffff; /* Fondo completamente blanco */
  }

  body {
    background-color: var(--neutral-bg);
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: var(--text-color) !important;
  }
}

html,
body {
  font-family: "Poppins", sans-serif;
}

:root {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease, fill 0.3s ease;
}

img {
  transition: opacity 0.4s ease, filter 0.4s ease, transform 0.3s ease;
}

/* Sobrescribir la fuente en todos los textos de Material */
.mat-typography,
.mat-button,
.mat-toolbar,
.mat-card-title,
.mat-card-content,
.mat-list-item,
.mat-form-field,
.mat-dialog-title,
.mat-dialog-content {
  font-family: "Montserrat", sans-serif !important;
}

.gradient-color {
  background: var(--gradient-bg) !important;
}

.text-base {
  color: var(--text-color) !important;
}

.text-primary {
  color: var(--text-primary) !important;
}

.mat-icon {
  fill: currentColor !important;
  color: var(--text-color) !important;
}

.background-default {
  background-color: var(--text-background-card) !important;
}

.mat-mdc-card-outlined {
  background-color: var(--text-background-card) !important;
  border-color: var(--text-background-card) !important;
  padding: 1rem !important;
}

.card-primary {
  background-color: var(--primary) !important;
}

h1 {
  font-size: 2.5em !important;
  font-weight: bold !important;
}

h2 {
  font-size: 1.5em !important;
  font-weight: bold !important;
}

h3 {
  font-size: 1.5em !important;
  font-weight: bold !important;
}

.container {
  max-width: 70rem;
  margin: 3rem auto;
}

.btn-primary {
  background-color: var(--primary) !important;
  color: var(--text-color) !important;
}

.btn-primary {
  background-color: var(--primary) !important;
  color: var(--text-color) !important;
}

.btn-secondary {
  background-color: var(--secondary) !important;
  color: var(--text-color) !important;
}

.btn-tertiary {
  background-color: var(--tertiary) !important;
  color: var(--text-color) !important;
}
